.clearfix::after {
	content: " ";
	clear: both;
	display: table;
}

.text-upper {
	text-transform: uppercase;
}

.text-block {
	display: block;
}

.text-bold {
	font-weight: bold;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-strike {
	text-decoration: line-through;
}

.text-faded {
	color: #b8bfd3;
}

.to-right {
	float: right;
}