* {
	box-sizing: border-box;
}

ul li {
	display: inline-block;
}

header {
	width: 100%;
	height: 120px; /* each line height=60px */
	position: relative;
}

.header-top-left {
	position: absolute;
	top: 10px;
	padding: 16px;
	float: left;
	width: 35%;
}

.header-top-right {
	width: 65%;
	float: right;
}

.logo {
	position: absolute;
	left: 35%;
	top: 10px;
	padding: 13px 15px;
	float: left;
}

.btn-signin {
	position: absolute;
	border-radius: 12px;
	top: 10px;
	right: 4%;
	padding: 18px 15px;
	float: right;
}

.searchbar {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 70px;
}

.icon-search {
	padding: 16px;
	width: 15%;
	float: left;
}

.input-search {
	width: 63%;
	height: 48px;
	padding-left: 20px;
	float: left;
}

.icon-cart {
	position: relative;
	width: 22%;
	display: inline-block;
}

.icon-cart img {
	padding: 16px;
	float: left;
}

.cart-items {
	position: absolute;
	right: 15px;
	top: 14px;
	padding: 5px 7px;
	border-radius: 50%;
	float: right;
}

.iphone6 {
	position: relative;
	height: 380px;
	width: 100%;
}

.image-iphone6 {
	position: absolute;
	width: 102.75px;
	height: 300px;
	top: 20px;
	right: 10%;
}

.text-iphone6 h2 {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 205px;
	text-align: justify;
}

.text-iphone6 p {
	position: absolute;
	top: 170px;
	left: 30px;
	width: 205px;
	text-align: justify;
}

.btn-buynow {
	position: absolute;
	left: 30px;
	bottom: 25px;
	padding: 17px 35px;
}

.filterbar {
	width: 100%;
	height: 50px;
	display: inline-block;
}

.hamburger-2 {
	display: inline-block;
	width: 15%;
	padding: 16px;
}

.filter-input {
	display: inline-block;
	width: 60%;
	height: inherit;
	padding-left: 16px;
}

.filter-sortby {
	display: inline-block;
	width: 20%;
}

.filter-sortby p,
.filter-sortby div {
	display: inline-block;
}
