@media (min-width: 992px) {

  .mobile-hide {
    display: block;
  }

  .hamburger-items {
    display: block;
  }

  .header-top * {
    float:none;
  }

  .header-top {
    position: relative;
    line-height: 70px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(220, 224, 238);
  }

  .header-top-right {
    width: 100%;
  }

  .logo {
    position: absolute;
    left: 10%;
    padding-left: 2.4088%;
    width: none;
    }

  .search-bar, .btn-sign-in {
    display: none;
  }

  .icon-cart-larger img {
    transform: translateY(5px);
  }

  /* Header top for large screens */

  #menuHeaderTop a {
    font: 14px montserratregular;
    color: #343e5c;
  }

  #menuHeaderTop {
    display: inline-block;
    text-align: center;
    transform: translateX(50%);
  }

  #menuHeaderTop li {
    padding: 0 10px;
  }

  #menuHeaderTop a {
    font-weight: bold;
  }

  .header-top-right-larger,
  .header-top-right-larger * {
    display: inline-block;
  }

  .header-top-right-larger {
    float: right;
    margin-right: calc(8.214% - 3.571%);
  }

  .header-top-right-larger>*,
  .header-top-right-larger a {
    font: 11px montserratregular;
    color: #343e5c;
    font-weight: bold;
  }

  .icon-cart-larger {
    padding-right: 2px;
    word-spacing: 2px;
  }

  .btn-sign-in-larger {
    background-color: white;
    color: #343e5c;
    font: 11px montserratregular;
    border-style: none;
    border-radius: 20px;
    padding: 10px 18px;
    border: 1px solid rgb(174, 178, 192);
  }
  /* End of header top */

  /* Header bottom for large screens */

  #menuHeaderBottom {
    display: inline-block;
  }
  
.header-bottom-right-larger>* {
  display: inline-block;
}

.header-bottom-right-larger {
  float: right;
  line-height: 60px;
}

#support {
  font: 11px montserratregular;
  color: #b9bed1;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 32px;
  border-right: 1px solid #b9bed1;
}

#support:hover {
  cursor: pointer;
}

.icon-search-larger {
  padding-left: 22px;
  padding-right: 14px;
}

.input-search-larger {
  border: none;
}

.input-search-larger::placeholder {
  color: #a1a7bd;
  font: 14px montserratregular;
}

.search-larger {
  padding: 22px;
}

#menuHeaderBottom li {
  padding: 22px 15px;
}

#menuHeaderBottom li a {
  font: 11px montserratregular;
  font-weight: bold;
  color: #b9bed1;
}

#menuHeaderBottom li a:hover {
  color: #343e5c;
  cursor: pointer;
}
/* End of header bottom for large screens */

  .slider img {
    height: 700px;
    width: 250px;
  }

  .filter-bar-large > * {
    display: inline-block;
  }

  .filter-bar-large {
    background-color: white;
    font: 11px montserratregular;
    color: #343e5c;
    font-weight: bold;
    padding: 15px 6px; 
    margin-bottom: 15px;
  }

  .filter-bar-large input[type="number"] {
    width: 60px;
  }

  .filter-bar-variable {
    font: 11px montserratregular;
    color: #a1a7bd;
    font-weight: bold;
    text-transform: uppercase
  }

  .filter-bar-mobile {
    display: none;
  }

  .filter-bar-middle {
    padding: 0 11px 0 11px;
    word-spacing: 7px;
  }

  .filter-bar-middle ul li:last-child {
    word-spacing: 3px;
  }
  
  .filter-bar-large input {
    background-color: rgb(240, 242, 247);
    padding: 9px 0px 9px 7px;
    border-style: none;
    border-radius: 15px;
  }

  .filter-bar input[type="text"] {
    padding-right: 6px;
    width: 175px;
  }

  .side-menu-wrapper {
    text-align: left;
  }

   .main-items li:not(:nth-child(5)) {
    width: calc(100% / 3);
    height: 255px;
  }

  .main-items li {
    margin: 30px 0;
  }

  #middleSection {
    padding: 2% 5%;
  }

  .mobile-hide {
    display: inline-block;
  }

  .image-gadget:not(.large-image) {
    align-content: center;
    transform: translateX(50%);
  }

  .gadget-description {
    top: 90%;
  }

  .side-menu {
    float: left;
  }

  #middleSection {
    padding-right: 0%;
  }

  .main-items li {
    margin: 7px;
    max-width: 270px;
    overflow: hidden;
    float: left;
  }

  .footer-top > * {
    display: inline-block;
  }
  
  .footer-menu li {
    display: inline-block;
    padding: 8px 15px;
  }
  
  .footer-top {
      padding: 4.375rem;
  }
  
  .footer-logo {
    float: left;
  }

    .footer-top a {
      color: white;
      font: 12px montserratregular;
    }
    
    .footer-top-right {
      float: right;
      width: calc(62% + 4.375rem + 14px);
    }
  
    .footer-menu {
      float: left;
      padding-top: 0;
    }

    .social-platforms {
      float: right;
      transform: translateY(-18%);
    }

    .social-platforms li {
      padding: 16px;
    }
    
  .footer-bottom {
    padding: 53px 4.375rem;
    border-top: 1px solid rgb(106, 107, 109);
  }
  
  .footer-bottom-left {
    font: 14px crimson_textitalic;
    text-align: left;
    padding: 0;
    float: left;
    max-width: 520px;
    }
  
    .footer-bottom-right {
      text-align: left;
      float: right;
    }

    .footer-bottom-right a {
      font: 11px montserratregular;
    }

    .footer-bottom-right li {
      padding: 13px;
    }

  }
