* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
	display: inline-block;
}

header {
	border-bottom-width: 1px;
	background-color: white;
}

body {
	background-color: rgb(228,229,231);
}

#mainSection {
	background-color: rgb(228,229,231);
}

.header-top-left {
	position: absolute;
	top: 10px;
	float: left;
	width: 35%;
	transform: translateX(3%);
}

.header-top-left img {
	padding: 16px;
}

.header-top-right {
	width: 65%;
	float: right;
}

.hamburger-items {
	display: none;
}

.mobile-hide {
	display: none;
}

.logo {
	position: absolute;
	left: 35%;
	top: 10px;
	padding: 13px 15px;
	float: left;
}

.btn-sign-in {
	font: 11px montserratregular;
	background-color: white;
	border: 1px solid rgb(174, 178, 192);
	color: rgb(123, 129, 146);

	border-radius: 12px;
	padding: 18px 15px;
	float: right;
	transform: translateY(20%);
}

.btn-signin:hover {
	cursor: pointer;
	background-color: rgb(227, 232, 240);
}

.search-bar {
	border-top: 1px solid rgb(220, 224, 238);
	border-bottom: 1px solid rgb(220, 224, 238);

	position: absolute;
	width: 100%;
	height: 50px;
	top: 70px;
}

.input-search {
	border: none;
	border-left: 1px solid rgb(220, 224, 238);
	border-right: 1px solid rgb(220, 224, 238);

	width: 63%;
	height: 48px;
	padding-left: 20px;
	float: left;
}

.input-search::placeholder {
	color: black;
	font: 11px montserratregular;
}

.icon-search {
	padding: 16px;
	width: 15%;
	float: left;
	transform: translateX(10%);
}

.icon-cart {
	position: relative;
	width: 22%;
	display: inline-block;
	transform: translateX(11%);
}

.icon-cart img {
	padding: 16px;
	float: left;
}

.cart-items {
	background-color: rgb(227, 232, 240);
	font: 11px montserratregular;

	margin: 14px 0;
	padding: 5px 7px;
	border-radius: 50%;
	float: right;
}

.hi-tech-wrapper {
	width: 100%;
	background-color: black;
}

.hi-tech {
	background-color: black;

	position: relative;
	min-height: 380px;
	height: auto;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 945px;
}

.image-iphone-6 {
	position: absolute;
	width: 102.75px;
	height: 300px;
	top: 20px;
	right: 10%;
}

.text-iphone-6 {
	color: white;
	font: 16px crimson_textroman;
	background-color: black;
	min-height: 380px;
	width: calc(40% + 30px);
	position: relative;
	padding-left: 30px;
}

.text-iphone-6 h2 {
	font: 26px montserrat_blackregular;

	position: absolute;
	top: 20.436%;
	text-align: left;
}

.text-iphone-6 p {
	font: 13px crimson_textroman;

	position: absolute;
	top: 45%;
	text-align: left;
	margin-bottom: 1px;
}

.btn-buy-now {
	background-color: rgb(39, 84, 235);
	border: none;
	color: white;
	border-radius: 25px;
	font: 11px montserratregular;

	position: absolute;
	bottom: 0;
	margin: 25px 0px;
	padding: 17px 35px;
}

.btn-buy-now:hover {
	cursor: pointer;
	background-color: rgb(39, 84, 200);
}

.hamburger-filter {
	display: inline-block;
	width: 15%;
	padding: 16px 16px 16px 0;
}

.hamburger-filter:focus .filter-bar-large {
	display: none;
}

.filter-bar-large {
	background-color: white;
	font: 11px montserratregular;
	color: #343e5c;
	font-weight: bold;
}

.filter-bar-large input[type="text"] {
	width: 140px;
}

.filter-bar-left,
.filter-bar-middle,
.filter-bar-right {
	padding: 18px;
	display: block;
}

.filter-bar-middle-content li {
	padding: 7px 0;
}

.filter-bar-large input[type="number"] {
	width: 60px;
}

.filter-bar-variable {
	font: 11px montserratregular;
	color: #a1a7bd;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 10px;
}

.filter-bar-large input {
	background-color: rgb(240, 242, 247);
	padding: 9px 0px 9px 15px;
	border-style: none;
	border-radius: 15px;
}

.side-menu-box:not(#deliveryOptions) ul li {
display: block;
}

#sideMenu *, #sideMenu a {
	font: 13px montserratregular;
	color: #343e5c;
}

#hiTechMenu a {
	font: 11px montserratregular;
	color: #a1a7bd;
}

.side-menu-box{
	width: 272px;
	margin-top: 32px;
	background-color: white;
	padding: 0 20px;
}

.side-menu-header {
	padding: 20px 0;
}

.side-menu-box li {
	padding-top: 20px 0;
}

#itemCategories #hiTechMenu  {
	background-color: rgb(240, 242, 247);
}

#itemCategories li {
padding: 17px 0;
}

#middleSection {
	background-color: rgb(228,229,231);
	overflow: hidden;
}

.main-items {
	overflow: hidden;
}

.main-items li {
	background-color: white;
	height: auto;
	min-height: 200px;
	width: 100%;
	border-radius: 5px;
	float: left;
	/* margin-bottom: 20px; */
}

.main-items h3 {
	font: 16px montserratregular;
	font-weight: bold;
	background-color: transparent;
}

.image-gadget:not(.large-image) {
	float: left;
	width: 50%;
}

.image-gadget img {
	width: 100%;
}

.gadget-description {
	float: right;
	text-align: left;
	width: 40%;
	padding: calc(18% - 25px) 10px 0 10px;
}

.item-extra-specs {
	display: inline-block;
	width: 100%;
}

.item-extra-specs .gadget-description {
	float: left;
	padding: 0px;
	width: 45%;
	transform: translateX(10%);
}

.item-extra-specs .jbl-buy-now {
	float: right;
	transform: translate(-10%);
}

.memory {
	display: inline-block;
	border-left: 2px solid rgb(228,229,231);
	border-top: 2px solid rgb(228,229,231);
	border-bottom: 2px solid rgb(228,229,231);
	border-top-left-radius: 20px; 
	border-bottom-left-radius: 20px;
	margin: -5px;
	padding: 10px 20px;
}

.buy {
	display: inline-block;
	border: 2px solid rgb(228,229,231);
	border-top-right-radius: 20px; 
	border-bottom-right-radius: 20px;
	padding: 10px 20px;
}

.price {
	font: 14px montserratregular;
	color: #343e5c;
	font-weight: bold;
}

.item-color {
	color: #a1a8bd;
	font: 11px montserratregular;
}

.pagination ul,
.previous,
.next {
	display: inline-block;
}

.pagination ul li a {
	font: 14px montserratregular;
	color: #3a405b;
	padding: 16px;
	display: inline-block;
}

.pagination {
	/* width: 84.28%; */
	width: auto;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	overflow: auto;
}

.pagination > * {
	display: inline-block;
}

.pagination ul {
	letter-spacing: 0.25em;
	width: 70%;
}

.pagination .next {
	float: right;
	width: 15%;
	padding: 16px;
}

.pagination .previous {
	float: left;
	width: 15%;
	padding: 16px;
}

.best-sellers {
	background-color: white;
	/* margin-bottom: 50px; */
	text-align: center;
}

.best-sellers-top {
	text-align: center;
	font: 11px montserratregular;
	color: #343e5c;
	border-bottom: 1px rgb(223, 224, 227);
	font-weight: bold;
	padding: 24px 0;
}

.best-sellers-bottom {
	font: 16px montserratregular;
	color: #343e5c;
	font-weight: bold;
}

.best-seller {
	width: 285px;
	height: 345px;
	border-top: 1px solid #b9bed1;
	border-bottom: 1px solid #b9bed1;
	text-align: center;
}

.best-seller a {
	height: 345px;
}

.best-sellers-bottom li:first-child .image-best-sellers {
	/* transform: translateY(30px); */
	height: 215px;
}

.best-sellers-bottom li:last-child .image-best-sellers {
	/* transform: translateY(30px); */
}

.best-seller .price {
	padding-top: 23px;
}

.feedback {
	background-color: white;
	padding-top: 70px;
	padding-bottom: 85px;
}

.feedback-bottom, .feedback-bottom img{
	margin: 0 auto;
}

.feedback-title {
	font: 32px montserrat_blackregular;
	color: #222328;
	text-align: center;
	padding: 0 20px 20px 20px;
}

.feedback-top p {
	font: 16px crimson_textitalic;
	color: #b9bed1;
	text-align: center;
}

.feedback-bottom {
text-align: center;
}

.feedback-main {
	height: 170px;
	width: 260px;
padding: 43px;
}

.customer-header {
	width: 260px;
	display: block;
	padding-bottom: 25px;
}

.feedback-main img {
	float: left;
}

.customer-name {
	display: block;
}

.customer-profession {
	display: block;
	font: 14px crimson_textitalic;
	color: #b9bed1;
	padding-top: 10px;
}

.customer-info {
	float: left;
transform: translateX(20%);
}

.feedback-main p {
	display: block;
	font: 16px crimson_textroman;
	color: #3a405b;
	text-align: left;
	width: 222px;
	}

footer {
	background-color: rgb(34,35,40);
	text-align: center;
}

.footer-logo {
	padding-bottom: 20px;
	display: block;
}

.footer-top {
	padding: 4.375rem;
}

.footer-top a {
	color: white;
	font: 16px montserratregular;
}

.footer-menu {
	padding: 20px 0;
}

.footer-menu li {
	padding: 20px 0px;
	display: block;
}

.social-platforms a {
	display: inline-block;
}

.social-platforms li {
	padding: 20px;
}

.footer-bottom-left {
	font: 18px crimson_textitalic;
	color: rgb(106, 107, 109);
	padding: 0 35px 4.375rem 35px;
}

.footer-bottom-right {
	padding-bottom: 4.375rem;
}

.footer-bottom-right a {
	font: 14px montserratregular;
	color: rgb(106, 107, 109);
}

.footer-bottom-right li {
	display: block;
	padding: 20px 0;
}