a {
	text-decoration: none;
	color: black;
}

header {
	border-bottom-width: 1px;
}

.hamburger-items {
	display: none;
}

.btn-signin {
	font: 11px montserratregular;
	background-color: white;
	border: 1px solid rgb(174, 178, 192);
	color: rgb(123, 129, 146);
}

.btn-signin:hover {
	cursor: pointer;
	background-color: rgb(227, 232, 240);
}

.searchbar {
	border-top: 1px solid rgb(220, 224, 238);
	border-bottom: 1px solid rgb(220, 224, 238);
}

.input-search {
	border: none;
	border-left: 1px solid rgb(220, 224, 238);
	border-right: 1px solid rgb(220, 224, 238);
	background-color: rgb(220, 224, 238);
}

.input-search::placeholder {
	color: black;
	font: 11px montserratregular;
}

.cart-items {
	background-color: rgb(227, 232, 240);
	font: 11px montserratregular;
}

.iphone6 {
	background-color: black;
}

.text-iphone6 {
	color: white;
	font: 16px crimson_textroman;
}

.text-iphone6 h2 {
	font: 42px montserrat_blackregular;
}

.btn-buynow {
	background-color: rgb(39, 84, 235);
	border: none;
	color: white;
	border-radius: 25px;
	font: 11px montserratregular;
}

.filterbar {
border-bottom: 1px solid rgb(220, 224, 238);
}

.filter-input {
	border: none;
	border-left: 1px solid rgb(220, 224, 238);
	border-right: 1px solid rgb(220, 224, 238);
	background-color: rgb(220, 224, 238);
}

.filter-sortby a {
	color: black;
}

.filter-sortby p {
	font: 16px crimson_textregular;
}

.middle-section {
	background-color: rgb(228,229,231);
}

.main-images li {
	background-color: white;
	height: auto;
	min-height: 250px;
	width: 100%;
}

.main-images h3 {
	font: 16px montserratregular;
	font-weight: bold;
}

.image-gadget:not(.large-image) {
	float: left;
	width: 50%;
}

.image-gadget img {
	width: 100%;
	padding: 10px;
}

.gadget-description {
	float: right;
	text-align: left;
	width: 40%;
	padding: calc(18% - 25px) 10px 0 10px;
}

.price {
	font: 14px montserratregular;
	color: #343e5c;
	font-weight: bold;
}

.item-color {
	color: #a1a8bd;
	font: 11px montserratregular;
}

